.alert-danger {
    background: rgba(255, 89, 120, 0.3) !important;
    border: 1.5px solid #FF5978 !important;
    border-radius: 10px !important;
}

table {
    td {
        word-break: break-all;
    }
}