<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <!-- <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Icons</a></li>
                    <li class="breadcrumb-item active">Unicons</li>
                </ol> -->
            </div>
            <h4 class="page-title">Set Cost for Merchant SKU</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
<table class="table table-centered mb-0">
    <thead>
        <tr>
            <th>Merchant</th>
            <th>Merchant SKU</th>
            <th>Merchant SKU Name<i class="mdi mdi-information-outline" placement="top" ngbTooltip="Merchant SKU Name can be modified in inventory overview or merchant SKU detail page."></i></th>            
            <th>Cost<i class="mdi mdi-information-outline" placement="top" ngbTooltip="Edit/Add the cost value in merchant SKU detail page"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cost_list;">
            <td>{{ item.merchant }}</td>
            <td>{{ item.merchant_sku }}</td>
            <td>{{ item.merchant_sku_name }}</td>
            <td>
                <select class="form-select">
                    <option>N (Default)</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12">
        <button type="button" class="btn btn-primary rounded-pill float-end" (click)="open(successModel)">Submit</button>
        <button type="button" class="btn btn-light rounded-pill me-2 float-end" (click)="open(cancelModel)">Cancel</button>
        
    </div>
</div>


<ng-template #cancelModel let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-center w-100" id="modal-basic-title">Cancel Upload</h4>
      <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    </div>
    <div class="modal-body">
      <p>Are you sure you want to cancel? Your voucher file will not be imported if you press the confirm button</p>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div> -->
    <div class="modal-footer">
        <div class="row w-100">
            <div class="col-xl-6 col-lg-6 col-sm-6 text-center">
                <button type="button" class="btn btn-light rounded-pill ps-5 pe-5" (click)="modal.close('Close click')"> Cancel </button>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 text-center">
                <button type="button" class="btn btn-dark rounded-pill ps-5 pe-5" (click)="redirectOverview(modal)"> Confirm </button>
            </div>
        </div>
      </div>
  </ng-template>

  <ng-template #successModel let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-center w-100" id="modal-basic-title">Upload Successfully</h4>
      <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    </div>
    <div class="modal-body">
      <p>Please not that the upload vouvher will be imported and displayed in the inventory overview after approval. for any urgent situation, Please contact to <u>contact@edenred.con</u></p>
    </div>
    <div class="modal-footer">
        <div class="row w-100">
            <div class="col-xl-12 col-lg-12 col-sm-12 text-center">
      <button type="button" class="btn btn-dark rounded-pill ps-5 pe-5" (click)="redirectOverview(modal)">OK</button>
            </div>
        </div>
    </div>
  </ng-template>

