<ng-progress #progressBar></ng-progress>
<app-page-title [breadcrumbItems]="pageTitle" [title]="title"></app-page-title>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="form-container">
            <div class="row">
              <div class="col-lg-6 col-sm-12 mt-2">
                <label for="keyName" class="form-label details__container__label">Key Name</label>
                <input type="text" class="form-control" placeholder="Key Name" formControlName="keyName">
              </div>
              <div class="col-lg-6 col-sm-12 mt-2">
                <label for="keyValue" class="form-label details__container__label">Key Value</label>
                <input type="password" class="form-control" placeholder="Key value" formControlName="keyValue">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-6 col-sm-12">
                <button class="btn btn-info btn-md rounded-pill" type="submit">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngbd-toast-global></ngbd-toast-global>