@import "../../../../styles/variables";

.mr-1 {
    margin-right: 1rem;
}

.vertical-divider {
    width: 16px;
    height: 0px;
    opacity: 0.4;
    /* Grey */
    border: 1px solid $grey;
    transform: rotate(90deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ratio-1x1 {
  height: 30px;
  width: 30px;
}

.menu-circle{
  height: 36px;
  width: 36px;
  padding: 0px;
  display: inline-block;
  line-height: 34px;
}

.collapse-title {
  font-size: 16px;
  font-weight: bold;
}

.download-attachment {
  color: $light-blue;
  &:hover {
    cursor: pointer;
  }
}


.alert-danger {
  color: black;
  border: 1.5px solid $red;
  background: $red-bg-color;
  border-radius: 10px;

  div {
      margin-bottom: 0px !important;
  }

  .type {
      font-weight: bold;
  }
}

.remove-caret::after {
  display: none !important;
}

::ng-deep .confirmation-modal .modal-body {
  margin: 1rem;
}