# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-toc
# Only exists if Bazel was run
/bazel-out
.angular

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

/.angular

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
yarn.lock
package-lock.json
.vs/VSWorkspaceState.json
*.suo
.vs/slnx.sqlite
web/3rdpartylicenses.txt
web/148.bb83d2e6edc5e9a3.js
web/163.4b4e9346b6f4656e.js
web/252.f961b64493ca06bf.js
web/278.298061ffcb073c51.js
web/333.0fc294698014574a.js
web/473.1add1f235478b693.js
web/786.bfca7d2b5a5f540e.js
web/971.1f7878e4315cf35e.js
web/bg-auth.5a96f78842d97003.jpg
web/bg-pattern-light.329cb04b2c42e181.svg
web/bg-pattern.d8a9b6a81a60dd9b.png
web/common.7257906a618ae46f.js
web/dripicons-v2.081218667d14a9fa.ttf
web/dripicons-v2.e923caf443d19d52.svg
web/dripicons-v2.e83118957a3a726c.eot
web/dripicons-v2.f9bdedcac28235e7.woff
web/favicon.ico
web/index.html
web/main.1643ad18b287c6eb.js
web/materialdesignicons-webfont.3de8526e20c1a76f.woff
web/materialdesignicons-webfont.48a1ce0c1b60767e.eot
web/materialdesignicons-webfont.477c6ab0eeaed7c9.woff2
web/materialdesignicons-webfont.dfd403cf792b75b4.ttf
web/Nunito-Bold.2a81f8f2f64a0c5d.svg
web/Nunito-Bold.23d95e0529bb75e3.woff
web/Nunito-Bold.44c49f94cc1238a6.ttf
web/Nunito-Bold.cd499a38755cb0d3.eot
web/Nunito-Light.672c3ea5b866bc69.svg
web/Nunito-Light.bf480a4eed6f2478.eot
web/Nunito-Light.c603faaf70e1e4bd.ttf
web/Nunito-Light.dcf2aec738a6951a.woff
web/Nunito-Regular.9a5a857fc8dfb30a.eot
web/Nunito-Regular.387d2d505cf38de9.svg
web/Nunito-Regular.79009bdf8d857945.ttf
web/Nunito-Regular.24855966e43ff4c9.woff
web/Nunito-SemiBold.10a9cc99a5653bb7.ttf
web/Nunito-SemiBold.69e0dcbccd670e9d.eot
web/Nunito-SemiBold.0643b4c035727f5f.woff
web/Nunito-SemiBold.68334e3444b7306f.svg
web/polyfills.80104aa7f06512d2.js
web/runtime.a5954946a0c95201.js
web/styles.890fe264a471771c.css
web/unicons.9a8a343a4edfb247.eot
web/unicons.17bc560af0f202a2.svg
web/unicons.282f805d3ec5a1bd.ttf
web/unicons.6972ac526bf24dd5.woff2
web/unicons.37091d780b35eb1f.woff
web/waves.5926c3060e79f377.png
web/web.config
web/assets/config.json
web/assets/edenred-buttons.scss
web/assets/edenred-crud-component.scss
web/assets/edenred-form-controls.scss
web/assets/edenred-grid.scss
web/assets/scroballrs.scss
web/assets/fonts/dripicons-v2.eot
web/assets/fonts/dripicons-v2.svg
web/assets/fonts/dripicons-v2.ttf
web/assets/fonts/dripicons-v2.woff
web/assets/fonts/materialdesignicons-webfont.eot
web/assets/fonts/materialdesignicons-webfont.ttf
web/assets/fonts/materialdesignicons-webfont.woff
web/assets/fonts/materialdesignicons-webfont.woff2
web/assets/fonts/Nunito-Bold.eot
web/assets/fonts/Nunito-Bold.svg
web/assets/fonts/Nunito-Bold.ttf
web/assets/fonts/Nunito-Bold.woff
web/assets/fonts/Nunito-Light.eot
web/assets/fonts/Nunito-Light.svg
web/assets/fonts/Nunito-Light.ttf
web/assets/fonts/Nunito-Light.woff
web/assets/fonts/Nunito-Light.woff2
web/assets/fonts/Nunito-Regular.eot
web/assets/fonts/Nunito-Regular.svg
web/assets/fonts/Nunito-Regular.ttf
web/assets/fonts/Nunito-Regular.woff
web/assets/fonts/Nunito-SemiBold.eot
web/assets/fonts/Nunito-SemiBold.svg
web/assets/fonts/Nunito-SemiBold.ttf
web/assets/fonts/Nunito-SemiBold.woff
web/assets/fonts/unicons.eot
web/assets/fonts/unicons.svg
web/assets/fonts/unicons.ttf
web/assets/fonts/unicons.woff
web/assets/fonts/unicons.woff2
web/assets/icons/delete.png
web/assets/icons/edit.png
web/assets/icons/left-carret.png
web/assets/icons/right-carret.png
web/assets/icons/search.png
web/assets/images/barcode.png
web/assets/images/bg-auth.jpg
web/assets/images/bg-pattern-dark.png
web/assets/images/bg-pattern-light.svg
web/assets/images/bg-pattern.png
web/assets/images/edenred-logo.png
web/assets/images/email-campaign.svg
web/assets/images/favicon.ico
web/assets/images/features-1.svg
web/assets/images/features-2.svg
web/assets/images/file-searching.svg
web/assets/images/help-icon.svg
web/assets/images/ico-instagram.png
web/assets/images/ico-messenger.png
web/assets/images/logo_sm_dark.png
web/assets/images/logo_sm.png
web/assets/images/logo-dark.png
web/assets/images/logo-light.png
web/assets/images/logo.png
web/assets/images/mail_sent.svg
web/assets/images/maintenance.svg
web/assets/images/report.svg
web/assets/images/startman.svg
web/assets/images/startup.svg
web/assets/images/waves.png
web/assets/images/attached-files/img-1.jpg
web/assets/images/attached-files/img-2.jpg
web/assets/images/attached-files/img-3.jpg
web/assets/images/brands/bitbucket.png
web/assets/images/brands/dribbble.png
web/assets/images/brands/dropbox.png
web/assets/images/brands/g-suite.png
web/assets/images/brands/github.png
web/assets/images/brands/slack.png
web/assets/images/flags/french.jpg
web/assets/images/flags/germany.jpg
web/assets/images/flags/italy.jpg
web/assets/images/flags/russia.jpg
web/assets/images/flags/spain.jpg
web/assets/images/flags/us.jpg
web/assets/images/layouts/layout-1.png
web/assets/images/layouts/layout-2.png
web/assets/images/layouts/layout-3.png
web/assets/images/layouts/layout-4.png
web/assets/images/layouts/layout-5.png
web/assets/images/layouts/layout-6.png
web/assets/images/payments/amazon.png
web/assets/images/payments/american-express.png
web/assets/images/payments/btc.png
web/assets/images/payments/citi.png
web/assets/images/payments/cod.png
web/assets/images/payments/discover.png
web/assets/images/payments/master.png
web/assets/images/payments/payoneer.png
web/assets/images/payments/paypal.png
web/assets/images/payments/stripe.png
web/assets/images/payments/visa.png
web/assets/images/products/product-1.jpg
web/assets/images/products/product-2.jpg
web/assets/images/products/product-3.jpg
web/assets/images/products/product-4.jpg
web/assets/images/products/product-5.jpg
web/assets/images/products/product-6.jpg
web/assets/images/projects/project-1.jpg
web/assets/images/projects/project-2.jpg
web/assets/images/projects/project-3.jpg
web/assets/images/projects/project-4.jpg
web/assets/images/small/small-1.jpg
web/assets/images/small/small-2.jpg
web/assets/images/small/small-3.jpg
web/assets/images/small/small-4.jpg
web/assets/images/users/avatar-1.jpg
web/assets/images/users/avatar-2.jpg
web/assets/images/users/avatar-3.jpg
web/assets/images/users/avatar-4.jpg
web/assets/images/users/avatar-5.jpg
web/assets/images/users/avatar-6.jpg
web/assets/images/users/avatar-7.jpg
web/assets/images/users/avatar-8.jpg
web/assets/images/users/avatar-9.jpg
web/assets/images/users/avatar-10.jpg
web/assets/scss/app-creative.scss
web/assets/scss/app-modern.scss
web/assets/scss/app.scss
web/assets/scss/icons.scss
web/assets/scss/config/creative/_custom-variables.scss
web/assets/scss/config/creative/_dark-mode.scss
web/assets/scss/config/creative/_light-mode.scss
web/assets/scss/config/creative/_variables.scss
web/assets/scss/config/modern/_custom-variables.scss
web/assets/scss/config/modern/_dark-mode.scss
web/assets/scss/config/modern/_light-mode.scss
web/assets/scss/config/modern/_variables.scss
web/assets/scss/config/saas/_custom-variables.scss
web/assets/scss/config/saas/_dark-mode.scss
web/assets/scss/config/saas/_light-mode.scss
web/assets/scss/config/saas/_variables.scss
web/assets/scss/custom/components/_accordions.scss
web/assets/scss/custom/components/_alert.scss
web/assets/scss/custom/components/_avatar.scss
web/assets/scss/custom/components/_badge.scss
web/assets/scss/custom/components/_breadcrumb.scss
web/assets/scss/custom/components/_buttons.scss
web/assets/scss/custom/components/_card.scss
web/assets/scss/custom/components/_carousel.scss
web/assets/scss/custom/components/_custom-forms.scss
web/assets/scss/custom/components/_docs.scss
web/assets/scss/custom/components/_dropdown.scss
web/assets/scss/custom/components/_forms.scss
web/assets/scss/custom/components/_hero.scss
web/assets/scss/custom/components/_mixins.scss
web/assets/scss/custom/components/_modal.scss
web/assets/scss/custom/components/_nav.scss
web/assets/scss/custom/components/_pagination.scss
web/assets/scss/custom/components/_popover.scss
web/assets/scss/custom/components/_preloader.scss
web/assets/scss/custom/components/_print.scss
web/assets/scss/custom/components/_progress.scss
web/assets/scss/custom/components/_reboot.scss
web/assets/scss/custom/components/_ribbons.scss
web/assets/scss/custom/components/_social.scss
web/assets/scss/custom/components/_steps.scss
web/assets/scss/custom/components/_switch.scss
web/assets/scss/custom/components/_tables.scss
web/assets/scss/custom/components/_type.scss
web/assets/scss/custom/components/_utilities.scss
web/assets/scss/custom/components/_widgets.scss
web/assets/scss/custom/components/mixins/_background-variant.scss
web/assets/scss/custom/components/mixins/_badge.scss
web/assets/scss/custom/components/mixins/_buttons.scss
web/assets/scss/custom/components/utilities/_background.scss
web/assets/scss/custom/components/utilities/_text.scss
web/assets/scss/custom/fonts/_nunito.scss
web/assets/scss/custom/pages/_authentication.scss
web/assets/scss/custom/pages/_components-demo.scss
web/assets/scss/custom/pages/_email.scss
web/assets/scss/custom/pages/_error.scss
web/assets/scss/custom/pages/_faq.scss
web/assets/scss/custom/pages/_maintenance.scss
web/assets/scss/custom/pages/_tasks.scss
web/assets/scss/custom/pages/_timeline.scss
web/assets/scss/custom/plugins/_apexcharts.scss
web/assets/scss/custom/plugins/_bootstrap-timepicker.scss
web/assets/scss/custom/plugins/_bootstrap-touchspin.scss
web/assets/scss/custom/plugins/_britechart.scss
web/assets/scss/custom/plugins/_calendar.scss
web/assets/scss/custom/plugins/_chartjs.scss
web/assets/scss/custom/plugins/_datatable.scss
web/assets/scss/custom/plugins/_datepicker.scss
web/assets/scss/custom/plugins/_daterange.scss
web/assets/scss/custom/plugins/_dragula.scss
web/assets/scss/custom/plugins/_dropzone.scss
web/assets/scss/custom/plugins/_form-wizard.scss
web/assets/scss/custom/plugins/_frappe-gantt.scss
web/assets/scss/custom/plugins/_icons.scss
web/assets/scss/custom/plugins/_ion-rangeslider.scss
web/assets/scss/custom/plugins/_jstree.scss
web/assets/scss/custom/plugins/_maps.scss
web/assets/scss/custom/plugins/_quill-editor.scss
web/assets/scss/custom/plugins/_rangeslider.scss
web/assets/scss/custom/plugins/_rateit.scss
web/assets/scss/custom/plugins/_rating.scss
web/assets/scss/custom/plugins/_select2.scss
web/assets/scss/custom/plugins/_simplebar.scss
web/assets/scss/custom/plugins/_simplemde.scss
web/assets/scss/custom/plugins/_sparklines.scss
web/assets/scss/custom/plugins/_timepicker.scss
web/assets/scss/custom/plugins/_toaster.scss
web/assets/scss/custom/plugins/_typehead.scss
web/assets/scss/custom/plugins/icons/_dripicons.scss
web/assets/scss/custom/plugins/icons/_materialdesignicons.scss
web/assets/scss/custom/plugins/icons/_unicons.scss
web/assets/scss/custom/structure/_footer.scss
web/assets/scss/custom/structure/_general.scss
web/assets/scss/custom/structure/_horizontal-nav.scss
web/assets/scss/custom/structure/_left-menu.scss
web/assets/scss/custom/structure/_page-head.scss
web/assets/scss/custom/structure/_right-sidebar.scss
web/assets/scss/custom/structure/_topbar.scss
web/assets/scss/vendor/_bootstrap-datepicker.min.scss
web/assets/scss/vendor/_bootstrap-timepicker.min.scss
web/assets/scss/vendor/_daterangepicker.scss
web/assets/scss/vendor/_jquery.bootstrap-touchspin.min.scss
web/assets/scss/vendor/_jquery.toast.min.scss
web/assets/scss/vendor/_select2.min.scss
