.btn-sm.rounded-circle {
    padding: 0;

    &.btn-light {
        background-color: #D5D8DD;
    }

    [class^=uil-]:before, [class*=" uil-"]:before {
        font-size: 2rem !important;
    }
}

.btn:disabled {
    border: none;
}

.view-all {
    padding: 0;
    text-align: center;
}

.hide-bottom-border {
    border-bottom-style: hidden;
}

.clickable{
    cursor: pointer;
}