# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/txcnotes/source/txc-front-web-toc.zip
/txcnotes/source/TXC-MicroFrontends.zip

# .NET / .NET Core
## Build output
bin/
obj/
out/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## MSBuild
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
*.DbmdlFiles
*.bak
*.ncb
*.svclog
*.cache
*.aps

## Rider
.idea/

## Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage.json
coverage.opencover.xml

## Publish output
publish/
**/Properties/launchSettings.json

## User-specific files
*.userprefs

## OS generated
*.DS_Store
desktop.ini

/experiments/view_child/angular-viewchild-example.zip
/pro_angular_6/pro-angular-6-master.zip
