<ng-template #tipContent let-formControl="formControl">
    <ng-container *ngIf="formControl?.invalid && formControl.errors?.required">
        This is a required field
    </ng-container>
    <ng-container *ngIf="formControl?.invalid && formControl.errors?.minlength">
        Entered value must be at least 2 characters!
    </ng-container>
    <ng-container *ngIf="formControl?.invalid && formControl.errors?.maxlength">
        Entered value exceeded maximum characters!
    </ng-container>
    <ng-container *ngIf="formControl?.invalid && formControl.errors === null">
        Incorrect email format!
    </ng-container>
    <ng-container *ngIf="!formControl?.invalid">
        Entered value is valid
    </ng-container>
</ng-template>

<form [formGroup]="shopFormGroup" (submit)="OnSubmit()">
    <div class="row my-3">
        <div class="col-6">
            <span class="font-22 text-dark bold">
                Create Shop
            </span>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 d-flex justify-content-end">
                    <div class="align-self-center mt-2">
                        <label for="statusDropdown" class="form-label">Status</label>
                    </div>
                </div>
                <div class="col-6">
                    <select name="filter" id="statusDropdown" class="form-select font-12" formControlName="status">
                        <option selected [value]="0">Inactive</option>
                        <option selected [value]="1">Active</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="bg-white rounded px-3 py-2 my-2 font-14">
                <div class="row my-3">
                    <div class="col-12 mb-2">
                        <span class="font-16 text-dark bold">
                            Basic Information
                        </span>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label for="merchantName">Shop name <span class="text-danger bold">*</span></label>
                                <input type="text" class="form-control font-14 text-secondary" [ngClass]="{
                                    'is-invalid': f.name.invalid
                                }" formControlName="name" triggers="manual" [ngbTooltip]="tipContent"
                                    [tooltipClass]="f.name.invalid ? 'tooltip-danger' : 'tooltip-success'"
                                    #nameTip="ngbTooltip" (click)="toggleTooltipWithContext(nameTip, f.name)"
                                    [disableTooltip]="!f.name.invalid">
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mb-2">
                        <label for="merchantName">Shop external code <span class="text-danger bold">*</span></label>
                        <input type="text" class="form-control font-14 text-secondary" [ngClass]="{
                            'is-invalid': f.externalCode.invalid
                        }" formControlName="externalCode" triggers="manual" [ngbTooltip]="tipContent"
                            [tooltipClass]="f.externalCode.invalid ? 'tooltip-danger' : 'tooltip-success'"
                            #externalCodeTip="ngbTooltip"
                            (click)="toggleTooltipWithContext(externalCodeTip, f.externalCode)"
                            [disableTooltip]="!f.externalCode.invalid">
                    </div>
                    <div class="col-6 mb-2">
                        <label for="merchantName">Shop internal code</label>
                        <input type="text" formControlName="identityCode" class="form-control font-14 text-secondary"
                            [ngClass]="{
                            'is-invalid': f.identityCode.invalid
                        }" triggers="manual" [ngbTooltip]="tipContent"
                            [tooltipClass]="f.identityCode.invalid ? 'tooltip-danger' : 'tooltip-success'"
                            #identityCodeTip="ngbTooltip"
                            (click)="toggleTooltipWithContext(identityCodeTip, f.identityCode)"
                            [disableTooltip]="!f.identityCode.invalid">
                        <div class="form-check mt-2">
                            <input type="checkbox" class="form-check-input" id="sameExternalCode"
                                formControlName="sameExternalCode">
                            <label class="form-check-label font-12" for="sameExternalCode">Same as external code</label>
                        </div>
                    </div>

                    <div class="col-6 mb-2">
                        <label for="merchantName">Shop number</label>
                        <input type="text" class="form-control font-14 text-secondary" [ngClass]="{
                            'is-invalid': f.contactPhone.invalid
                        }" formControlName="contactPhone" triggers="manual" [ngbTooltip]="tipContent"
                            [tooltipClass]="f.contactPhone.invalid ? 'tooltip-danger' : 'tooltip-success'"
                            #contactPhoneTip="ngbTooltip"
                            (click)="toggleTooltipWithContext(contactPhoneTip, f.contactPhone)"
                            [disableTooltip]="!f.contactPhone.invalid">
                    </div>

                    <div class="col-6 mb-2">
                        <label for="merchantName">Shop address</label>
                        <input type="text" class="form-control font-14 text-secondary" [ngClass]="{
                            'is-invalid': f.shopAddress.invalid
                        }" formControlName="shopAddress" triggers="manual" [ngbTooltip]="tipContent"
                            [tooltipClass]="f.shopAddress.invalid ? 'tooltip-danger' : 'tooltip-success'"
                            #shopAddressTip="ngbTooltip"
                            (click)="toggleTooltipWithContext(shopAddressTip, f.shopAddress)"
                            [disableTooltip]="!f.shopAddress.invalid">
                    </div>

                    <div class="col-6 mb-2">
                        <label for="merchantName">Security key</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="securityKey">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="generateSecurityKey()">
                                    <i class='uil uil-sync'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="bg-white rounded px-3 py-2 my-2 font-14">
                <div class="row my-3">
                    <div class="col-12 mb-2">
                        <span class="font-16 text-dark bold">
                            Add this shop to existing acceptance loop
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row my-2">
                <div class="col-9">
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-secondary rounded-pill w-100 p-2 font-12"
                                (click)="navigateToMerchantDetails(false)">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary rounded-pill w-100 p-2 font-12" type="submit"
                                [disabled]="shopFormGroup.invalid">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>