.date-picker-col {
    width: 300px;
    display: flex;
}

.error-list {
    background-color: #FFCED7;
    border: 2px solid #FF5978;
    padding-top: 12px;
    color: black;
    
}

.table .__date {
    width: 300px;
    display: flex;
}
