<form id="form-container" class="needs-validation was-validated" [ngClass]="{'was-validated': isFormInvalid}" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="modal-header">
    <h4 class="modal-title text-center w-100">Edit Merchant SKU Name</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <div class="mb-3">
        <label for="txtmerchantSKUName" class="form-label">Merchant SKU Name <span class="text-danger"><strong>*</strong></span></label>
        <input type="text" id="txtmerchantSKUName" class="form-control" formControlName="merchantSKUName" required>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w-100">
        <div class="col-xl-6 col-lg-6 col-sm-6">
            <button type="button" class="btn btn-light rounded-pill w-100" (click)="activeModal.close('Close click')">Cancel</button>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-6">
            <button type="button" class="btn btn-primary rounded-pill w-100" type="submit">Save</button>
        </div>
    </div>
  </div>
</form>