// title

.ratio-1x1 {
    height: 30px;
    width: 30px;
}

.title {
    cursor: pointer;
}

// table

.table-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-center {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0;
}

.head-content {
    margin: 0;
    min-height: 38px;
    font-weight: bold;
    text-align: left;
    word-break: break-all;
    font-size: 12px;
}

.data-content {
    margin: 0;
    min-height: 54px;
    text-align: left;
    word-break: break-all;
    font-size: 14px;
}

.operation-content {
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 54px;
    font-size: 12px;
}

.horizontal-rule {
    border-bottom: 1px solid #aaa;
}

// toast

.alarm-toast {
    border: 2px solid #FF5978;
    background-color: pink;
    border-radius: 10px;
    text-align: left;
    word-break: break-all;
}

.alarm-list {
    color: black;
    position: relative;
    margin: 0;
}

// other

.sortable {
    cursor: pointer;
}