<ng-template #content let-modal>
    <div class="modal-header py-3 px-4 border-bottom-0">
        <h5 class="modal-title" id="modal-title">{{modelTitle}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')">
        </button>
    </div>
    <div class="modal-body px-4 pb-4 pt-0">
        <form name="event-form" id="form-event" (ngSubmit)="eventForm.submitted && saveEvent()" #eventForm="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label form-label">Event Name</label>
                        <input class="form-control" placeholder="Insert Event Name" type="text" name="title"
                            id="event-title" required [(ngModel)]="event.title" #title="ngModel"
                            [ngClass]="{ 'is-invalid':eventForm.submitted && title.invalid && (title.dirty || title.touched)}" />

                        <div *ngIf="eventForm.submitted && title.invalid && (title.dirty || title.touched)"
                            class="invalid-feedback">
                            Please provide a valid event name
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="control-label form-label">Category</label>
                        <select class="form-select" name="category" id="event-category" required
                            [(ngModel)]="event.category" #category="ngModel"
                            [ngClass]="{ 'is-invalid':eventForm.submitted && category.invalid && (category.dirty || category.touched)}">
                            <option value="bg-danger" selected>Danger</option>
                            <option value="bg-success">Success</option>
                            <option value="bg-primary">Primary</option>
                            <option value="bg-info">Info</option>
                            <option value="bg-dark">Dark</option>
                            <option value="bg-warning">Warning</option>
                        </select>
                        <div *ngIf="eventForm.submitted && category.invalid && (category.dirty || category.touched)"
                            class="invalid-feedback">
                            Please select a valid event category
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger" *ngIf="modelTitle==='Edit Event'"
                        (click)="deleteEvent()" id="btn-delete-event">Delete</button>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-light me-1" (click)="modal.dismiss('')">Close</button>
                    <button type="submit" class="btn btn-success" id="btn-save-event"
                        [disabled]="!eventForm.form.valid">Save</button>
                </div>
            </div>
        </form>
    </div>

</ng-template>