<div class="product-details">
    <div class="row my-3">
        <div class="col-12">
            <span class="text-dark font-22"><strong>Edit Pricing & Expiry</strong></span>
            <div class="vr font-16 mx-2"></div>
            <span class="text-secondary font-22 mx-2"><strong>{{ product?.productName }}</strong></span>
        </div>
    </div>
</div>

<app-product-pricing 
    [fixExpiryDate]="fixExpiryDate"
    [selectedTenant]="selectedTenant" 
    [selectedType]="selectedType" 
    [selectedMerchant]="selectedMerchant"
    [selectedSKU]="selectedSKU"
    [merchantProgram]="merchantProgram"
    [pricingFormGroup]="pricingFormGroup"
    [expirySchemeList]="expirySchemeList"
    (expiryPolicyIdListChanged)="OnExpiryListChanged($event)"
    [editMode]="true">
</app-product-pricing>

<div class="row my-2">
    <div class="col-9">
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-secondary rounded-pill w-100 p-2 font-14"
                    (click)="navigateBackToProductDetails()">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary rounded-pill w-100 p-2 font-14"
                    [disabled]="(actionLoading$ | async) || pricingFormGroup.invalid || (pricingFormGroup.valid && !pricingFormGroup.dirty)"
                    (click)="savePricing()">
                    {{ (actionLoading$ | async) ? 'Loading ...' : 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>
<ngbd-toast-global></ngbd-toast-global>