<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Vector Maps"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">World Vector Map</h4>
                <app-widget-world-map mapId="world-map" height="360px" width="100%" [options]="worldMapConfig">
                </app-widget-world-map>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Canada Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-canada-map mapId="canada-map-markers" height="300px" width="100%"
                        [options]="canadaMapConfig">
                    </app-widget-canada-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Russia Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-russia-map mapId="russia-map-markers" height="300px" width="100%"
                        [options]="russiaMapConfig">
                    </app-widget-russia-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">USA Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-usa-map mapId="usa-map-markers" height="300px" width="100%" [options]="usaMapConfig">
                    </app-widget-usa-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Iraq Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-iraq-map mapId="iraq-map-markers" height="300px" width="100%" [options]="iraqMapConfig">
                    </app-widget-iraq-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Spain Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-spain-map mapId="spain-map-markers" height="300px" width="100%"
                        [options]="spainMapConfig">
                    </app-widget-spain-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Italy Vector Map</h4>
                <div style="height: 300px;">
                    <app-widget-italy-map mapId="italy-map-markers" height="300px" width="100%"
                        [options]="italyMapConfig">
                    </app-widget-italy-map>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->