
    <div class="modal-header">
        <h4 class="modal-title text-center w-100">Upload Voucher Import File</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div class="card card-body">
                    <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <h3 class="card-title text-center"><i class="mdi mdi-cloud-upload-outline"></i></h3>
                            Drag file here or click to upload
                        </ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row w-100">
            <div class="col-xl-6 col-lg-6 col-sm-6">
                <button type="button" class="btn btn-light rounded-pill w-100" (click)="activeModal.close('Close click')">Cancel</button>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6">
                <button type="button" class="btn btn-primary rounded-pill w-100" (click)="import()">Import</button>
            </div>
        </div>
      </div>
    