<app-account2-layout>

    <!-- title-->
    <h4 class="mt-0">Free Sign Up</h4>
    <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute</p>

    <!-- form -->
    <form name="signup-form2" [formGroup]="signUpForm2" (ngSubmit)="onSubmit()">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required
                formControlName="name" [ngClass]="{'is-invalid': formSubmitted && formValues.name.invalid}">
            <div *ngIf="formSubmitted && formValues.name.invalid" class="invalid-feedback">
                <div *ngIf="formValues.name.errors?.required">
                    Name is required.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="emailaddress" class="form-label">Email address</label>
            <input class="form-control" type="email" id="emailaddress" required placeholder="Enter your email"
                formControlName="email" [ngClass]="{'is-invalid': formSubmitted && formValues.email.invalid}">
            <div *ngIf="formSubmitted && formValues.email.invalid" class="invalid-feedback">

                <div *ngIf="formValues.email.errors?.required">
                    Email is required.
                </div>
                <div *ngIf="formValues.email.errors?.email">
                    Email must be a valid Email Address
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" id="password" placeholder="Enter your password" required
                minlength="4" formControlName="password"
                [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">
            <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">
                <div *ngIf="formValues.password.errors?.required">
                    Password is required.
                </div>
                <div *ngIf="formValues.password.errors?.minlength">
                    Password length must be greater than 3.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signup">
                <label class="form-check-label" for="checkbox-signup">I accept <a href="javascript: void(0);"
                        class="text-muted">Terms and Conditions</a></label>
            </div>
        </div>
        <div class="mb-0 d-grid text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-account-circle"></i> Sign Up </button>
        </div>
        <!-- social-->
        <div class="text-center mt-4">
            <p class="text-muted font-16">Sign up using</p>
            <ul class="social-list list-inline mt-3">
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                            class="mdi mdi-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                            class="mdi mdi-google"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                            class="mdi mdi-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                            class="mdi mdi-github"></i></a>
                </li>
            </ul>
        </div>
    </form>
    <!-- end form-->

    <!-- Footer-->
    <footer class="footer footer-alt">
        <p class="text-muted">Already have account? <a [routerLink]="['../login2']" class="text-muted ms-1"><b>Log
                    In</b></a>
        </p>
    </footer>

</app-account2-layout>