<div class="mt-2">
  <app-title [title]="TITLE" [subtitle]="SUBTITLE"></app-title>
  <div class="mt-3" [ngClass]="{'stepper-disabled': disableStepper}">
    <lib-stepper
      [step]="step"
      [stepTitles]="STEPS"
      [stepsReached]="stepsReached"
      [stepsWithIssue]="stepsWithIssue"
      (stepperChanged)="onStepChanged($event)"
    ></lib-stepper>
  </div>

  <!-- error messages goes here -->
  <app-error-message [errorMessages]="errorMessages" 
    [showHeading]="false" [addHorizontalMargin]="false" [addVerticalMargin]="true"></app-error-message>

  <ng-container *ngIf="STEPS === wizardSteps.THREE_STEPS; else fourStep">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="threeStepWizard.BasicProperties">
        <div class="col-12 mt-2">
          <app-order-reference-details></app-order-reference-details>
        </div>
        <div class="col-12 mt-2">
          <app-order-basic-info
            (formInvalid)="checkFormInvalidValues($event)"
            [basicInfoFormGroup]="basicInfoFormGroup"
          ></app-order-basic-info>
        </div>
        <div class="col-12 mt-2">
          <app-order-settings
            [settingsFormGroup]="settingsFormGroup"
          ></app-order-settings>
        </div>
        <div class="col-12 mt-2">
          <app-order-memo [memoFormGroup]="memoFormGroup"></app-order-memo>
        </div>
        <div class="col-12 mt-2">
          <app-order-attachment
            [attachmentFormGroup]="attachmentFormGroup"
          ></app-order-attachment>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="threeStepWizard.ProductSelection">
        <app-order-product-selection
          [productSelectionOnInitialState]="productSelectionOnInitialState"
          [productSelectionErrorMessages]="productSelectionErrorMessages"
          [productList]="productList"
          [fromUpload]="fromUpload"
          [activationDate]="activationDate"
          (manualSelectProductClicked)="onManualProductSelectionClicked($event)"
          (productSelectionChanged)="onProductSelectionChanged($event)"
          (fileUploaded)="onFileUploaded($event)"
        ></app-order-product-selection>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-order-review-and-confirm
          [estimatedTotal]="estimatedTotal"
          [productList]="productList"
          [basicInfoFormGroup]="basicInfoFormGroup"
          [settingsFormGroup]="settingsFormGroup"
          [memoFormGroup]="memoFormGroup"
          [attachmentFormGroup]="attachmentFormGroup"
          (jumpToStep)="onJumpToStep($event)"
        >
        </app-order-review-and-confirm>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #fourStep>
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="fourStepWizard.BasicProperties">
        <div class="col-12 mt-2">
          <app-order-reference-details></app-order-reference-details>
        </div>
        <div class="col-12 mt-2">
          <app-order-basic-info
            [basicInfoFormGroup]="basicInfoFormGroup"
            (formInvalid)="checkFormInvalidValues($event)"
          ></app-order-basic-info>
        </div>
        <div class="col-12 mt-2">
          <app-order-settings
            [settingsFormGroup]="settingsFormGroup"
          ></app-order-settings>
        </div>
        <div class="col-12 mt-2">
          <app-order-memo [memoFormGroup]="memoFormGroup"></app-order-memo>
        </div>
        <div class="col-12 mt-2">
          <app-order-attachment
            [attachmentFormGroup]="attachmentFormGroup"
          ></app-order-attachment>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="fourStepWizard.ProductSelection">
        <app-order-product-selection
          [productSelectionOnInitialState]="productSelectionOnInitialState"
          [productSelectionErrorMessages]="productSelectionErrorMessages"
          [productList]="productList"
          [fromUpload]="fromUpload"
          [orderStep]="step"
          [activationDate]="activationDate"
          (manualSelectProductClicked)="onManualProductSelectionClicked($event)"
          (productSelectionChanged)="onProductSelectionChanged($event)"
          (productListDirty)="onProductListDirty($event)"
          (fileUploaded)="onFileUploaded($event)"
        ></app-order-product-selection>
      </ng-container>
      <ng-container *ngSwitchCase="fourStepWizard.DeliveryDetails">
        <app-order-delivery-details
          [deliveryDetailsFormGroup]="deliveryDetailsFormGroup"
          [productList]="productList"
          [orderStep]="step"
          (editDeliveryDetailsClicked)="onEditDeliveryDetailsClicked($event)"
          (formInvalid)="checkFormInvalidValues($event)"
        ></app-order-delivery-details>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-order-review-and-confirm
          [estimatedTotal]="estimatedTotal"
          [productList]="productList"
          [basicInfoFormGroup]="basicInfoFormGroup"
          [settingsFormGroup]="settingsFormGroup"
          [memoFormGroup]="memoFormGroup"
          [attachmentFormGroup]="attachmentFormGroup"
          [deliveryDetailsFormGroup]="deliveryDetailsFormGroup"
          (jumpToStep)="onJumpToStep($event)"
        >
        </app-order-review-and-confirm>
      </ng-container>
    </ng-container>
  </ng-template>

  <div class="row my-3">
    <div class="col-9"></div>
    <div class="col-3">
      <div class="row">
        <div class="col-6" *ngIf="step === 0"></div>
        <div class="col-6">
          <button
            class="btn btn-secondary rounded-pill w-100 p-2 font-12"
            [disabled]="!getValidity(buttonTypeEnum.Back)"
            (click)="prev()"
          >
            {{ step === 1 ? "Cancel" : "Back" }}
          </button>
        </div>
        <div class="col-6" *ngIf="step > 0">
          <button
            class="btn btn-primary rounded-pill w-100 p-2 font-12"
            [disabled]="!getValidity(getButtonType)"
            (click)="next()"
          >
            {{ getButtonType === buttonTypeEnum.Next ? "Next" : "Create" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
