
    <div class="modal-header">
        <h4 class="modal-title text-center w-100">Import Voucher Number</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div class="card card-body">
                    <h3 class="card-title text-center"><i class="mdi dripicons-download"></i></h3>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional
                        content.</p> -->
                    <button class="btn btn-link" (click)="openDownloadVoucherImportTemplateModel()" >Download Voucher import template</button>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div class="card card-body">
                    <h3 class="card-title text-center"><i class="mdi mdi-cloud-upload-outline"></i></h3>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional
                        content.</p> -->
                    <button class="btn btn-link" (click)="openUploadVoucherImportFileModel()">Upload Voucher import file</button>
                </div>
            </div>
        </div>
    </div>
    