<app-account2-layout>

    <!-- title-->
    <h4 class="mt-0">Sign In</h4>
    <p class="text-muted mb-4">Enter your email address and password to access account.</p>

    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
    <!-- form -->
    <form name="login-form2" [formGroup]="loginForm2" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="emailaddress" class="form-label">Email address</label>
            <input class="form-control" type="email" id="emailaddress" required placeholder="Enter your email"
                formControlName="email" [ngClass]="{'is-invalid': formSubmitted && formValues.email.invalid}">

            <div *ngIf="formSubmitted && formValues.email.invalid" class="invalid-feedback">

                <div *ngIf="formValues.email.errors?.required">
                    Email is required.
                </div>
                <div *ngIf="formValues.email.errors?.email">
                    Email must be a valid Email Address
                </div>

            </div>
        </div>
        <div class="mb-3">
            <a [routerLink]="['../reset-password2']" class="text-muted float-end"><small>Forgot your
                    password?</small></a>
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" required id="password" placeholder="Enter your password"
                formControlName="password" [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">
            <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">

                <div *ngIf="formValues.password.errors?.required">
                    Password is required.
                </div>
                <div *ngIf="formValues.password.errors?.minlength">
                    Password length must be greater than 3.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                <label class="form-check-label" for="checkbox-signin">Remember me</label>
            </div>
        </div>
        <div class="d-grid mb-0 text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Log In </button>
        </div>
        <!-- social-->
        <div class="text-center mt-4">
            <p class="text-muted font-16">Sign in with</p>
            <ul class="social-list list-inline mt-3">
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i
                            class="mdi mdi-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                            class="mdi mdi-google"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                            class="mdi mdi-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                            class="mdi mdi-github"></i></a>
                </li>
            </ul>
        </div>
    </form>
    <!-- end form-->

    <!-- Footer-->
    <footer class="footer footer-alt">
        <p class="text-muted">Don't have an account? <a [routerLink]="['../signup2']" class="text-muted ms-1"><b>Sign
                    Up</b></a></p>
    </footer>

</app-account2-layout>