.shop-list {
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search {
    display: flex;
    justify-content: center;
}

.search .search-box {
    flex-grow: 2;
}

.search .icon {
    width: 40px;
    text-align: center;
}

.search .icon:last-child {
    cursor: pointer;
}

.modal-footer {
    justify-content: center;
}

.modal-footer button {
    min-width: 160px;
}

.form-check label {
    cursor: pointer;
}

.new-shop {
    background-color: #FF5978;
    border-radius: 30px;
    display: inline-block;
    width: 40px;
    height: 19px;
}