.light-blue-tag {
    background-color: #B0EFFF;
    color: #2E3137;
}

.mint-green-tag {
    background-color: #98F6DB;
    color: #2E3137;
}

.light-grey-tag {
    background-color: #D5D8DD;
    color: #2E3137;
}

.pink-tag {
    background-color: #FF5978;
    color: #FFFFFF;
}

.light-pink-tag {
    background-color: pink;
    color: #FF5978;
}