<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Advanced Tables"></app-page-title>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Advanced table</h4>
                <p class="text-muted font-14">
                    This table provides functionalities like search and filtering, sorting and pagination
                </p>
                <!-- table start -->
                <app-advanced-table [tableData]="records" [columns]="columns" [pagination]="true"
                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                    (search)="searchData($event)" [isSortable]="true" (sort)="onSort($event)"
                    tableClasses="table-striped">
                </app-advanced-table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->