<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Create Project"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #newProject="ngForm">

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="projectname" class="form-label">Name</label>
                                <input type="text" id="projectname" class="form-control" name="projectName"
                                    placeholder="Enter project name" [(ngModel)]="projectName" #name="ngModel">
                            </div>

                            <div class="mb-3">
                                <label for="project-overview" class="form-label">Overview</label>
                                <textarea class="form-control" id="project-overview" rows="5" name="projectOverview"
                                    placeholder="Enter some brief about project.." [(ngModel)]="projectOverview"
                                    #overview="ngModel"></textarea>
                            </div>

                            <div class="mb-3 position-relative" id="datepicker1">
                                <label class="form-label">Start Date</label>
                                <input type="text" class="form-control" id="startDate" autocomplete="off"
                                    name="startDate" ngbDatepicker #startDate="ngbDatepicker"
                                    (click)="startDate.toggle()" name="startDate" [(ngModel)]="projectStartDate" />
                            </div>

                            <div class="mb-3">
                                <label for="project-budget" class="form-label">Budget</label>
                                <input type="text" id="project-budget" class="form-control"
                                    placeholder="Enter project budget" name="budget" [(ngModel)]="projectBudget"
                                    #budget="ngModel">
                            </div>

                            <div class="mb-0">
                                <label for="project-overview" class="form-label">Team Members</label>
                                <select2 [data]="teamMembers" (update)="addMember($event)">
                                </select2>

                                <div class="mt-2" id="tooltip-container">
                                    <ng-container *ngFor="let member of selectedMembers; trackBy: trackByItemID">
                                        <a href="javascript:void(0);" placement="top" [ngbTooltip]="member.name"
                                            class="d-inline-block me-1">
                                            <img [src]="member.image" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                    </ng-container>
                                </div>
                            </div>

                        </div> <!-- end col-->

                        <div class="col-xl-6">
                            <div class="mb-3 mt-3 mt-xl-0">
                                <label for="projectname" class="mb-0">Avatar</label>
                                <p class="text-muted font-14">Recommended thumbnail size 800x400 (px).</p>

                                <ngx-dropzone (change)="onSelect($event)" class="dropzone"
                                    accept="image/jpeg,image/jpg,image/png,image/gif">
                                    <ngx-dropzone-label>
                                        <i class="h3 text-muted dripicons-cloud-upload"></i>
                                        <h4>Drop files here or click to upload.</h4>
                                    </ngx-dropzone-label>

                                </ngx-dropzone>

                                <!-- Preview -->
                                <div class="dropzone-previews mt-3" id="file-previews">

                                    <!-- file preview template -->
                                    <div id="uploadPreviewTemplate" *ngFor="let f of files">
                                        <div class="card mt-1 mb-0 shadow-none border">
                                            <div class="p-2">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <img class="avatar-sm rounded bg-light" [alt]="f.name"
                                                            [src]="getPreviewUrl(f)">
                                                    </div>
                                                    <div class="col ps-0">
                                                        <a href="javascript:void(0);"
                                                            class="text-muted fw-bold">{{f.name}}</a>
                                                        <p class="mb-0">{{getSize(f)}}</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <!-- Button -->
                                                        <a href="javascript:void(0)"
                                                            class="btn btn-link btn-lg text-muted"
                                                            (click)="onRemove($event)">
                                                            <i class="dripicons-cross"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end file preview template -->
                                </div>
                            </div>

                            <!-- Date View -->
                            <div class="mb-3 position-relative" id="datepicker2">
                                <label class="form-label">Due Date</label>
                                <input type="text" class="form-control" id="endDate" autocomplete="off" name="endDate"
                                    ngbDatepicker #endDate="ngbDatepicker" (click)="endDate.toggle()" name="endDate"
                                    [(ngModel)]="projectEndDate" />
                            </div>
                        </div> <!-- end col-->
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>

                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->