.clean {
  margin-left: -40px !important;
  z-index: 100;
  border: none;
}

.search {
  border-left-width: 0px !important;
}

.preview {
  margin-top: 26px !important;
  padding-left: 0;
}

.input-group-prepend>.input-group-text {
  background-color: #FFFFFF;
  border-right-width: 0px !important;
}
