<div class="btn-group me-1">
    <button type="button" class="btn btn-secondary"><i class="mdi mdi-archive font-16"></i></button>
    <button type="button" class="btn btn-secondary"><i class="mdi mdi-alert-octagon font-16"></i></button>
    <button type="button" class="btn btn-secondary"><i class="mdi mdi-delete-variant font-16"></i></button>
</div>
<div class="btn-group me-1" ngbDropdown>
    <button type="button" class="btn btn-secondary arrow-none" aria-expanded="false" id="moveDropdown"
        ngbDropdownToggle>
        <i class="mdi mdi-folder font-16"></i>
        <i class="mdi mdi-chevron-down"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="moveDropdown">
        <span class="dropdown-header">Move to:</span>
        <a ngbDropdownItem [routerLink]="'.'">Social</a>
        <a ngbDropdownItem [routerLink]="'.'">Promotions</a>
        <a ngbDropdownItem [routerLink]="'.'">Updates</a>
        <a ngbDropdownItem [routerLink]="'.'">Forums</a>
    </div>
</div>
<div class="btn-group me-1" ngbDropdown>
    <button type="button" class="btn btn-secondary arrow-none" aria-expanded="false" id="labelDropdown"
        ngbDropdownToggle>
        <i class="mdi mdi-label font-16"></i>
        <i class="mdi mdi-chevron-down"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="labelDropdown">
        <span class="dropdown-header">Label as:</span>
        <a ngbDropdownItem [routerLink]="'.'">Updates</a>
        <a ngbDropdownItem [routerLink]="'.'">Social</a>
        <a ngbDropdownItem [routerLink]="'.'">Promotions</a>
        <a ngbDropdownItem [routerLink]="'.'">Forums</a>
    </div>
</div>

<div class="btn-group" ngbDropdown>
    <button type="button" class="btn btn-secondary arrow-none" aria-expanded="false" id="emailOptionsDropdown"
        ngbDropdownToggle>
        <i class="mdi mdi-dots-horizontal font-16"></i> More
        <i class="mdi mdi-chevron-down"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="emailOptionsDropdown">
        <span class="dropdown-header">More Options :</span>
        <a ngbDropdownItem [routerLink]="'.'">Mark as Unread</a>
        <a ngbDropdownItem [routerLink]="'.'">Add to Tasks</a>
        <a ngbDropdownItem [routerLink]="'.'">Add Star</a>
        <a ngbDropdownItem [routerLink]="'.'">Mute</a>
    </div>
</div>