$dark-grey: #6d7787;
$grey: #D5D8DD;
$grey-bg-color: rgba(213, 216, 221, 0.6);
$grey-border-color: rgba(109, 119, 135, 1);
$egg-shell: #F1F7FF;
$disabled-bg-color: #eef2f7;
$white-bg: #FFFFFF;

$light-blue: #0D8AFF;
$blue-bg-color: #B0EFFF;

$red: #FF5978;
$red-bg-color: rgba(255, 89, 120, 0.3);
$light-pink: rgba(255, 89, 120, 0.1);
$yellow: #FEFBB2;
$default-text-color: #2E3137;
$light-olive: #DCF691;
$light-mint: #98F6DB;



