<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <button type="button" class="btn btn-outline-dark rounded-pill me-1" disabled>Export</button>
                <button type="button" class="btn btn-outline-dark rounded-pill me-1">Create Merchant SKU</button>
                <button type="button" class="btn btn-outline-dark rounded-pill" (click)="openImportVoucherNumberModel()">Import voucher number</button>
            </div>
            <h4 class="page-title">Inventory Overview</h4>
        </div>
    </div>
</div>
