<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Social Feed"></app-page-title>

<div class="row">
    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-1">
        <!-- social profile -->
        <app-social-profile [loggedInUser]="loggedInUser"></app-social-profile>
        <!-- events -->
        <app-social-events [socialEvents]="socialEvents"></app-social-events>
        <!-- trending news -->
        <app-social-news [trendingNews]="trendingNews"></app-social-news>
    </div> <!-- end col -->

    <div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">
        <!-- new post -->
        <app-social-new-post></app-social-new-post>
        <!-- social feeds -->
        <app-social-feeds [socialFeeds]="socialFeeds"></app-social-feeds>
        <!-- loader -->
        <div class="text-center mb-3">
            <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1 font-16"></i> Load
                more
            </a>
        </div>
        <!-- end loader -->
    </div> <!-- end col -->
    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-2">
        <!-- featured video -->
        <app-social-featured-video></app-social-featured-video>
        <!-- followers -->
        <app-social-followers [peopleToFollow]="peopleToFollow"></app-social-followers>
    </div> <!-- end col -->
</div>
<!--end row -->