<!-- NAVBAR -->
<app-landing-navbar></app-landing-navbar>

<!-- HERO -->
<app-landing-hero></app-landing-hero>

<!-- SERVICES -->
<app-landing-services></app-landing-services>

<!-- LAYOUTS -->
<app-landing-layouts></app-landing-layouts>

<!-- FEATURES -->
<app-landing-features></app-landing-features>

<!-- PRICING -->
<app-landing-pricing></app-landing-pricing>

<!-- FAQ -->
<app-landing-faq></app-landing-faq>

<!-- CONTACT -->
<app-landing-contact-us></app-landing-contact-us>

<!-- FOOTER -->
<app-landing-footer></app-landing-footer>