.btn{
    cursor: pointer;
    height: 25px;
    width: 80px;
}

.btn:hover{
    filter:brightness(0.95);
}

.btn-info{
    background-color: #0078d4;
    color: #fff;
    border:solid 1px #0370c4;
}

.btn-secondary{
    color: #fff;
    background-color: #545b62;
    border:solid 1px #4e555b;
}

.btn-success {
    color: #fff;
    background-color: #1e7e34;
    border:solid 1px #1c7430;

}

.btn-danger{
    color: #fff;
    background-color: #bd2130;
    border:solid 1px #b21f2d;
}


.btn-warning{
    color: #212529;
    background-color: #d39e00;
    border:solid 1px #c69500;
}

