::-webkit-scrollbar-track
{
	border: 3px solid white;
    border-bottom: none;
    border-top: none;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #b2bec3;
}

::-webkit-scrollbar-track:hover
{
	border: none;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #b2bec3;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: #94caff;
	border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover
{
	background-color: #74b9ff;
}