  <div class="modal-header">
        <h4 class="modal-title text-center w-100">All related product code</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body pt-0">
        <table class="table table-sm table-centered mb-0 table-sticky-header">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>
                <tr>
                    <td>SGC8MMDD09SNXYZ</td>
                    <td>(Edented) 7-11 Virtual e-Gift Card 1,000</td>
                </tr>

            </tbody>
        </table>
      </div>