<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Pricing"></app-page-title>

<div class="row justify-content-center">
    <div class="col-xxl-10">

        <!-- Pricing Title-->
        <div class="text-center">
            <h3 class="mb-2">Our Plans and Pricing</h3>
            <p class="text-muted w-50 m-auto">
                We have plans and prices that fit your business perfectly. Make your client site a success with our
                products.
            </p>
        </div>

        <!-- Plans -->
        <app-widget-pricing-card [pricingPlans]="pricingPlans" containerClass=" mt-sm-5 mt-3 mb-3">
        </app-widget-pricing-card>

    </div>
</div>
<!-- end row -->