<div class="modal-header">
    <h4 class="modal-title text-center w-100">All related product code</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body pt-0">
    <table class="table table-sm table-centered mb-0 table-sticky-header">
        <thead>
            <tr>
                <th>Download File</th>
                <th>Voucher Qty</th>
                <th>Download By</th>
                <th>Download On</th>
                <th>Download Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>2</td>
                <td>John</td>
                <td>2021/12/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>5</td>
                <td>Mark</td>
                <td>2021/11/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>3</td>
                <td>Peter</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>20</td>
                <td>Steve</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>9</td>
                <td>Tom</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>2</td>
                <td>John</td>
                <td>2021/12/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>5</td>
                <td>Mark</td>
                <td>2021/11/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>3</td>
                <td>Peter</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>20</td>
                <td>Steve</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>9</td>
                <td>Tom</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>2</td>
                <td>John</td>
                <td>2021/12/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>5</td>
                <td>Mark</td>
                <td>2021/11/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>3</td>
                <td>Peter</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>20</td>
                <td>Steve</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>9</td>
                <td>Tom</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>2</td>
                <td>John</td>
                <td>2021/12/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>5</td>
                <td>Mark</td>
                <td>2021/11/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>3</td>
                <td>Peter</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>20</td>
                <td>Steve</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>9</td>
                <td>Tom</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>2</td>
                <td>John</td>
                <td>2021/12/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>5</td>
                <td>Mark</td>
                <td>2021/11/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>3</td>
                <td>Peter</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>20</td>
                <td>Steve</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td><i class="mdi mdi-file-document-outline f-24"></i></td>
                <td>9</td>
                <td>Tom</td>
                <td>2021/10/28 11:59:59 PM</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            </tr>
        </tbody>
    </table>
  </div>