<div class="mt-3">
    <h5 class="mb-2">Quick Access</h5>
    <div class="row mx-n1 g-0">
        <div class="col-xxl-3 col-lg-6" *ngFor="let file of quickAccessFiles">
            <div class="card m-1 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar-sm">
                                <span class="avatar-title bg-light text-secondary rounded">
                                    <i class="{{file.icon}} font-16"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-muted fw-bold">{{file.name}}</a>
                            <p class="mb-0 font-13">{{file.size}}</p>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end .p-2-->
            </div> <!-- end col -->
        </div> <!-- end col-->
    </div> <!-- end row-->
</div> <!-- end .mt-3-->