@import "../../../../styles/variables";
.ml-1{
    margin-left: 0.375rem;
}

.ml-2 {
    margin-left: 0.75rem;
}

.input-group-prefix-icon>.input-group-text {
    background-color: transparent;
}

.calendar>.form-control {
    border-right-width: 0px;
}

.search-icon>.form-control, .input-group-prefix-icon>.calendar-icon {
    border-left-width: 0px;
}

h4 {
    color: black;
    font-weight: 500;
}

.search-field-box {
    position: relative;
    &input {
        z-index: 1;
    }
}

.search-reset {
    display: block;
    font-size: 16px;
    color: $dark-grey;
    cursor: pointer;

    position: absolute;
    top:0;
    right: 0;
    padding-right: 13px;
    padding-top: 7px;
    z-index: 5;
}

.search-button {
    width: 96px;
    border-radius: 4px;
}

.input-group {
    position: relative;

    .input-error {
        position: absolute;
        top: 38px;
    }
}
